<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<main>

  <h4>Appointment Information</h4>
  
  <h6>Patient Name <strong><%= patients.name %></strong></h6>
  
  <p>Appointment Date <%= patients.name %> and Your PIN number is <%= patient.PIN %></p>
         
  <a href="/">Back to Main Page</a>
</main>

<%- include('./partials/footer.ejs') %>
