<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<main>
<style>
    .text  {
        
        border: 10px solid black;
        font-size: 5px;
        
        background-color: lightblue;
        text-align: center;
    }
    img{
        float: left;
        width: 50px;
        height: 50px;

        display: block;
        
        
    }
    button  {
      text-align: center;
     margin-top: 0%;
    }
    form  {
      text-align: center ;
    
    }
    
</style>
    

   


<div class='text'>


  

  <h1>Appointment Information</h1><br/>
  
  <h2>Patient Name: <strong><%=patient.Name%></strong></h2><br/>
  
  <!-- <h2>Appointment Date: <%=(patient.Date.getMonth()+1) + "/" + patient.Date.getDate() + "/" + patient.Date.getFullYear()%></h2><br/> -->
  <h2>Appointment Date: <%=patient.Date.toDateString()%></h2><br/>
  <h2>Appointment Hour: <%= patient.Date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })%></h2><br/>
  
  <h2>PIN Number: <%= patient.PIN %></h2><br/>
</div>  
<a href="/patients/<%=patient.PIN%>/edit" class=""> Change Appointment</a></br> |
<a href="/">Back to Main Page</a></br>
</main>
<form method="POST" action="/patients/<%=patient.PIN%>?_method=DELETE"> 
  <button>Delete Appointment</button>
</form>
         
  
  
</main>

<%- include('./partials/footer.ejs') %>
